span{
    color: rgb(64, 226, 226);
    opacity: 0.6;
}

/* i{
    color: rgb(69, 223, 223);
  
} */

a{
    text-decoration:none;
    color: #424242;
}




.p1{
   
    display: flex;

   justify-content:space-around;
   flex-wrap: wrap;
}
.c1{
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;

}
/*margin-top: -1px;
margin-left: 40px;*/
.margin{
    margin-left: 42px;
    margin-top: -19px;
    width: 103px;
    text-decoration: line-through;
    text-align: left;
    font: normal normal normal 18px/21px Inter;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1; 
    display: inline;
}

.margin2{
    margin-left: 79px;
    margin-top: -21px;
}

i{
    width: 18px;
    height: 18px;
}

.color{
    color: #C2C2C2;
    margin-left: 40px;
    margin-top: 33px;
}

input{
    top: 335px;
left: 169px;
width: 30px;
height: 30px;

background: #C2C2C2 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}

button{
    margin-left: 36px;
    margin-top: 30px;
    width: 18px;
    height: 18px;
  
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
}


h2{
    
    text-align: left;
    font: normal normal medium 20px/24px Inter;
    letter-spacing: 0px;
  color: #67676729;
}

.b1{
   margin-left: 858px;
   color: #67676729;
}